// Menus
$menu-height: 56px;

// Panels
$panel-margin-top: 2em;
$panel-max-width: 400px;
$panel-lg-max-width: 640px;
$panel-title-h1-font-size: 2em;
$panel-title-h1-margin-bottom: 2em;
$panel-full-margin-left: 2em;
$subpanel-width: 35%;
$subpanel-item-padding: 0 1em;


// Lists
$list-item-code-margin-right: 2em;